# Retrieving Data

## 1. Reading from a CSV

In [3]:
import pandas as pd

csv_file_path = "../DataSet/iris_data.csv"
df = pd.read_csv(csv_file_path)
df.head(2)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

## 2. Reading from a Json

In [4]:
import pandas as pd

json_file_path = "../DataSet/iris_data.json"
df = pd.read_json(json_file_path)
df.head(2)

   sepalLength  sepalWidth  petalLength  petalWidth species
0          5.1         3.5          1.4         0.2  setosa
1          4.9         3.0          1.4         0.2  setosa

## 3. Reading from a Sqlite Database

In [20]:
import pandas as pd
import sqlite3 as sq3

database_file_path = "../DataSet/iris_data.sqlite"
connection = sq3.Connection(database_file_path)
query = "SELECT * FROM iris_data"
data = pd.read_sql(query, connection)
data

    sepal_length sepal_width petal_length petal_width    species
0            5.1         3.5          1.4         0.2     setosa
1            4.9         3.0          1.4         0.2     setosa
2            4.7         3.2          1.3         0.2     setosa
3            4.6         3.1          1.5         0.2     setosa
4            5.0         3.6          1.4         0.2     setosa
..           ...         ...          ...         ...        ...
145          6.7         3.0          5.2         2.3  virginica
146          6.3         2.5          5.0         1.9  virginica
147          6.5         3.0          5.2         2.0  virginica
148          6.2         3.4          5.4         2.3  virginica
149          5.9         3.0          5.1         1.8  virginica

[150 rows x 5 columns]

## 4. Reading from a SQL Database

In [ ]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

connection = create_server_connection("localhost", "root", user_password)
data = pd.read_sql("SELECT TOP(1000) * FROM customers", connection)

## 5. Reading from a API

In [21]:
import pandas as pd

api_url = "http://www.7timer.info/bin/api.pl?lon=113.17&lat=23.09&product=astro&output=json"
df = pd.read_json(api_url)
df.head(2)

  product        init                                         dataseries
0   astro  2022041600  {'timepoint': 3, 'cloudcover': 9, 'seeing': 6,...
1   astro  2022041600  {'timepoint': 6, 'cloudcover': 9, 'seeing': 6,...